#login-form,#register-form
{
display:flex;
flex-direction:column;
align-items:center;
padding:2rem;
margin:3.5rem;
width:70%;
border-radius:3rem;
box-shadow:0px 0px 10px rgba(128,128,128,0.24);
}
#login-form input,#register-form input{
    margin:0.7em;
    width:40%;
    border:none;
}
#login-form input:hover{
    border-bottom-color:blueviolet;
}

input{
    font-size:2rem;
    width:max-content;
    border-radius:.7rem;
}
input::placeholder{
    font-size:60%;
    text-align:left;
    padding:.25em;
    margin:.25rem;
}
input[type='submit']{
    border-radius:12px 45px;
}